/*Maria Angel Palacios
    04/04/2024
    IT202-006 -> Phase 4 Project 
    mp352@njit.edu 
*/
table, th, td {
    border: 3px dashed white;
    margin: 0; 
    padding: 4; 
    
}


body{
    background-image: url("imagesPh3/empty-shopping-basket-online-shopping-concept-pink-background-3d-rendering.jpg");
    background-size: cover; 
    background-position: center; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px; 
    padding: 20px; 
    margin: 0; 

}

header{
    padding: 4px; 
    text-align: center; 
    margin-top:20;
    font-size: 18px; 
}

footer {
    padding: 0px;
    position:relative; 
    margin-left: 0px;
    font-size: 18px; 
}

.error-message {
    font-size: 18px;
    color: rgb(71, 26, 75); 
    margin: 10px 0; 
}





