/*Maria Angel Palacios
    03/01/2024
    IT202-006 -> Phase 2 Project 
    mp352@njit.edu 
*/
body {
  margin: 0;
  padding: 20px 20px 0; /* Ajustado el padding para proporcionar espacio en la parte superior */
  background-image: url('imagesPh1/parcels-box-cardboard-boxes-smartphone-online-delivery-transportation-logistics-concept-pink-background-3d-rendering-illustration.jpg');
  padding-left: 20px;
  background-size: cover;
  background-position: center top;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 20px;
  color: black;
}

main {
  width: 600px;
  margin: 0 auto; 
  padding: 20px; /* Agregando padding en todos los lados */
  border: 5px dashed #F9E6E7;
  margin-left: 25px; 
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: -55px; 
  margin-bottom: 30px; /* Aumentado el espacio entre etiquetas */
}

img {
  width: 150px; 
  height: auto; 
  border: 5px solid white; 
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px; /* Aumentado el espacio entre etiquetas */
}

h6 {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 30px; /* Aumentado el espacio entre etiquetas */
}
