/*Maria Angel Palacios
    03/01/2024
    IT202-006 -> Phase 2 Project 
    mp352@njit.edu 
*/
body {
    margin: 0; 
    padding: 4; 
    font-family: 'Courier New', Courier, monospace;
    
    padding-left: 12px;
    height: 100vh;
    background-size: contain;
    background-attachment: fixed;
    
}


header{
    padding: 4px; 
    text-align: center; 
    margin-top:20;
}



footer {
    padding: 0px;
    position:relative; 
    margin-left: 0px;
}

main{
    position: relative;
    border: 5px dashed; 
    width: 400px;
    margin: 20px auto; 
    padding: 8px;
    color:black;
    margin-left: 0px;
    border: 3px solid black; 
    
}


.dashed-box {
    border: 5px dashed black;
    padding: 8px;
    margin-bottom: 20px; /* Adjust as needed */
    text-align: center; /* Or adjust alignment as needed */
}

img{
    width: 150px; 
  height: auto; 
  border: 5px solid white; 
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}