/*Maria Angel Palacios
    03/21/2024
    IT202-006 -> Phase 3 Project 
    mp352@njit.edu 
*/

table, th, td {
    border: 3px dashed white;
    margin: 0; 
    padding: 4; 
    
}


body{
    background-image: url("imagesPh3/empty-shopping-basket-online-shopping-concept-pink-background-3d-rendering.jpg");
    background-size: cover; /* Make the background image cover the entire element */
    background-position: center; /* Center the background image */
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px; /* Adjust as needed */
    padding: 20px; /* Add padding for better readability */
    margin: 0; /* Remove default margin */

}

header{
    padding: 4px; 
    text-align: center; 
    margin-top:20;
    font-size: 18px; /* Adjust as needed */
}

footer {
    padding: 0px;
    position:relative; 
    margin-left: 0px;
    font-size: 18px; /* Adjust as needed */
}

.error-message {
    font-size: 18px; /* Adjust the font size as needed */
    color: rgb(71, 26, 75); /* Adjust the color as needed */
    margin: 10px 0; /* Add some margin for spacing */
}





